.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.search__bar {
  align-items: center;
  display: flex;
  justify-content: center;
}

.search__input-div, .search__button-div {
  padding: 0 10px;
}

.search__input-none, .search__button-none {
  display: none;
}

.search__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80vw;
}

.card {
  padding: 0 25px;
}

.card__image {
  width: 220px;
}

.album__div {
  display: flex;
  justify-content: center;
}

.album__cover {
  padding: 0 50px;
}

.album__cover img {
  width: 300px;
}

.music {
  align-items: center;
  display: flex;
  height: 80px;
}

.music__name {
  width: 200px;
}

.music__title {
  font-size: 20px;
  font-weight: 700;
  width: 200px;
}
